<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    

    <div id="successMessage" class="p-0 m-0 d-flex align-items-center">
    <% if flash[:notice] %>
      
        <p class="notice"><%= notice %></p>  
    <% end %>
    </div>

    
    <% if flash[:alert] %>
      <div id="successMessage" class="p-2 d-flex align-items-center">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
